<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Pixel Grid Snapper - Editor</title>
</head>
<body>
  <header>
    <div class="banner">
      <a class="button login"><span>Log In</span></a>
      <a class="button create-account"><span>Create Account</span></a>
      <a class="button logout"><span>Log Out</span></a>
    </div>
  </header>
  <main>
    <div class="action-buttons">
      <a href="/projects" class="button view-projects"><span>Saved Projects</span></a>
      <!-- disable view saved projects later when creating users -->
      <input type="file" id="upload">
      <p>Upload an image to get started.</p>
    </div>

    <div id="controls" style="display: none;">
      <label for="gridSizeInput">Grid Size: </label>
      <input type="number" id="gridSizeInput" min="1" max="100">
      <label for="toleranceInput">Color Tolerance: </label>
      <input type="number" id="toleranceInput" min="0" max="255">
    </div>
    <a class="button" id="snapButton" style="display: none;">Snap to Grid</a>
    <div id="comparison" style="display: none;">
      <figure>
        <div id="divisor"></div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider">
    </div>
    <!-- download logic in main.js -->
    <a class="button" id="downloadButton" style="display: none;">Download Image</a> 
    <a href="#" class="button" id="saveProjectButton" class="button save-project" style="display: none;">Save Project to Site</a>
  
  </main>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
