/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 2rem;
}
/* BUTTONS */
.button {
  display: inline-block;
  transition: all 0.2s ease;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: 1px solid darkblue;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.141);
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2);
  margin: 8px;
}
.button:hover {
  background: rgba(255, 255, 255, 0.207);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.3);
}
.button:active {
  background: rgba(255, 255, 255, 0.438);
  box-shadow: 0 0 30px rgba(231, 246, 249, 0.572), 0 0 70px rgba(248, 245, 192, 0.735);
}

/* GENERAL */
.banner {
  display: flex;
  justify-content: end;
  background-color: rgb(23, 2, 63);
  border: 2px solid rgb(22, 22, 59);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-buttons {
  display: flex;
  justify-content: center;
}
img {
  width: 35vw;
  border-radius: 5px;
}
#demo-img {
  width: 45vw;
}
.projects-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
  margin-left: 10px;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-info {
  padding-top: 10px;
}
.project-buttons {
  display: flex;
  justify-content: space-between;
}



/* COMPARISON DISPLAY */
body {
  background-color: rgb(15, 4, 34);
  color: white;
  min-height: 100vh;
}

#comparison {
  width: 100vw;
  max-width: 600px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  aspect-ratio: 16/9;
}

#comparison figure {
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#divisor {
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 102%;
  position: relative;
  top: -2rem;
  left: -2%;
  background-color: rgba(255, 255, 255, 0.1);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 15px;
  background: #fff;
}
