html {
  height: 100%
}

/* BUTTONS */
.button {
  display: inline-block;
  padding: 10px 20px;
  width: auto;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: 1px solid darkblue;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* COMPARISON DISPLAY */
body {
  background-color: black;
  color: white;
  min-height: 100vh;
}

#comparison {
  width: 100vw;
  max-width: 600px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  aspect-ratio: 16/9;
}

#comparison figure {
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#divisor {
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 102%;
  position: relative;
  top: -2rem;
  left: -2%;
  background-color: rgba(255, 255, 255, 0.1);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 15px;
  background: #fff;
}
